//common colors
$clr-blue: #1877f2;
$clr-light-blue: #2d9cdb;

$clr-white: #ffffff;
$clr-half-white: rgba(255, 255, 255, 0.5);

$clr-dark-red: #ed4c5c;
$clr-red-600: #ff292d;

//resolutions
$res_desktop: 1260px;
