@import "../../styles/abstracts";

.navbar {
  background-color: $clr-blue;
  color: $clr-white;
  padding: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
